// ********************
//
// Base Colors
//
// ********************

//
// Base Simon Colors
//

$simon-red: #f33437;
$simon-blue: #3496f3;
$simon-green: #39e581;
$simon-yellow: #f3f134;
$simon-plastic: #454545;